# Things not to be added to the repo

# Microsoft
*Microsoft*/
wslu/

# NPM configs
configstore/

# Fish vars
fish/fish_variables

# GitHub secrets
gh/hosts.yml

# nvim packer compiled data
nvim/plugin/

# Tmux logs
tmux*.log

# htop
htop/

# pulse, IDK what it is doing with its binary files
pulse/

# Libreoffice
libreoffice/

user-dirs.*
mimeapps.list
pavucontrol.ini
zoomus.conf

chromium/
discord/
*.log
hexchat/
fcitx/
fcitx5/
gtk-*/
Insomnia/
kazam/
Kvantum/
ibus/
microsoftteams*/
Mousepad/
pamac/
Signal/
Simplenote/
Unknown Organization/
vlc/
volumeicon/
xfce4/
Thunar/
qt5ct/
manjaro/
dconf/
QtProject.conf
backintime/
falkon/
autostart/
