# Things not to be added to the repo

# WSL
wslu/

# NPM configs
configstore/

# Fish vars
fish/fish_variables

# GitHub secrets
gh/hosts.yml

# nvim packer compiled data
nvim/plugin/

# Tmux logs
tmux*.log
