$include /etc/inputrc

# Use correct cursor shape in vi mode
# (only works in bash 4.4 and later, with readline 7.0 and later)
set editing-mode vi
set show-mode-in-prompt on
set vi-cmd-mode-string "\1\e[2 q\2"
set vi-ins-mode-string "\1\e[6 q\2"

# Use the up and down arrow keys for finding a command in history
# (you can write some initial letters of the command first)
"\e[A": history-search-backward
"\e[B": history-search-forward

# Also for Ctrl-p/n
"\C-p": history-search-backward
"\C-n": history-search-forward

# Ctrl-A/E to move to beginning/end of line
"\C-a": beginning-of-line
"\C-e": end-of-line

# Ctrl-U/K to kill to beginning/end of line
"\C-u": unix-line-discard
"\C-k": kill-line

# Ctrl-L to clear the screen
"\C-l": clear-screen

# Adjust tab-completion behavior
# https://www.topbug.net/blog/2017/07/31/inputrc-for-humans/
set bell-style none
set colored-stats on
set completion-ignore-case on
set completion-prefix-display-length 3
set mark-symlinked-directories on
set show-all-if-ambiguous on
set show-all-if-unmodified on
set visible-stats on
