/* Dark mode for vimb, based on https://fanglingsu.github.io/vimb/howto.html */
/* Color variables (Gruvbox Material Dark Hard) */
:root {
  /* Main colors */
  --vimb-bg-color: #1d2021; /* BG */
  --vimb-fg-color: #fbf1c7; /* FG */
  --vimb-heading-color: #ebdbb2; /* FG - 1 */
  --vimb-link-color: #83a598; /* Blue */
  --vimb-link-hover-color: #8ec07c; /* Cyan */
  --vimb-link-visited-color: #d3869b; /* Purple */
  /* Label colors */
  --vimb-label-color: #1d2021; /* BG */
  --vimb-label-bg-color: #fbf1c7; /* FG */
  --vimb-label-border-color: #1d2021; /* BG */
  /* Hint colors */
  --vimb-hint-color: #1d2021; /* BG */
  --vimb-hint-bg-color: #fabd2f; /* Yellow */
  --vimb-hint-focus-bg-color: #fe8089; /* Rose */
}

*,
div,
pre,
textarea,
body,
input,
td,
tr,
p {
  background-color: var(--vimb-bg-color) !important;
  background-image: none !important;
  color: var(--vimb-fg-color) !important;
}
h1,
h2,
h3,
h4 {
  background-color: var(--vimb-bg-color) !important;
  color: var(--vimb-heading-color) !important;
}
a {
  color: var(--vimb-link-color) !important;
}
a:hover,
a:focus {
  color: var(--vimb-link-hover-color) !important;
}
a:visited {
  color: var(--vimb-link-visited-color) !important;
}
img {
  opacity: 0.7;
}
img:hover {
  opacity: 1;
}

/* Hint mode color styling
 *
 * The precedence of the user style is lower than that of the website so you
 * have to mark your style definition to have higher priority.
 */
span[vimbhint^="label"] {
  background-color: var(--vimb-label-bg-color) !important;
  border: 1px solid var(--vimb-label-border-color) !important;
  color: var(--vimb-label-color) !important;
  font: bold 10pt monospace !important;
  opacity: 1 !important;
  padding: 0.1em 0.4em !important;
  text-transform: uppercase !important;
}
span[vimbhint="label focus"] {
  font: bold 13pt monospace !important;
}
*[vimbhint^="hint"] {
  background-color: var(--vimb-hint-bg-color) !important;
  color: var(--vimb-hint-color) !important;
}
*[vimbhint="hint focus"] {
  background-color: var(--vimb-hint-focus-bg-color) !important;
  color: var(--vimb-hint-color) !important;
}
