@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"
configuration {
    modi:                "window,run,ssh,drun";
    kb-cancel:           "Escape,Ctrl+c,Alt+F1";
    show-icons:          true;
    drun-display-format: "{name}";
}
/* vim: set ft=rasi: */
