/* Modified from Rofi config for i3 for EndeavourOS */
configuration {
    font:            "JetBrains Mono NF 12";
    show-icons:      false;
    icon-theme:      "Qogir";
    scroll-method:   0;
    disable-history: false;
    sidebar-mode:    false;
}

@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

window {
    width:    360px;
    location: center;
}
listview {
    lines:     8;
    columns:   1;
    scrollbar: false;
}
textbox-prompt-sep {
    font:   inherit;
    str:    "> ";
    margin: 0 0 0 0;
}
/* vim: set ft=rasi: */
