/* Modified from Rofi config for i3 for EndeavourOS */
configuration {
    font:            "JetBrains Mono NF 12";
    show-icons:      false;
    icon-theme:      "Qogir";
    scroll-method:   0;
    disable-history: false;
    sidebar-mode:    false;
}

@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

window {
    width:    180px;
    location: center;
}
inputbar {
    children: ["entry"];
}
listview {
    lines:     8;
    columns:   1;
    scrollbar: false;
}
entry {
    font:              inherit;
    placeholder:       "Choose one...";
    placeholder-color: #504945;
}
/* vim: set ft=rasi: */
